.btn {
  background-color: #33bf26;
  @apply px-2 py-1;
  @apply rounded-full;
  @apply text-white;
  @apply font-semibold;
  @apply w-32;
  @apply transition-colors duration-150;
  @apply flex items-center justify-center;
}

.btn:hover {
  background-color: #14733c;
}
